body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 auto;
}
.main {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  color: #fff;
}

.main .container {
  position: relative;
  top: 100px;
  text-align: center;
}
.main h1 {
  margin-top: 0;
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}

.main p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-main {
  background-color: #000;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
}

.btn-main:hover {
  background-color: orange;
  color: #000;
}

.main-support {
  background-color: #000;
  text-align: center;
  
}

.main-support h2 {
  color: orange;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 30px;
}

.main-support p {
  color: #fff;
}

.col {
  display: inline-block;
  width: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.clearfix {
  clear: both;
}

.middle {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg")no-repeat center center;
  background-size: cover;
  height: 600px;
}

.middle .container {
  position: relative;
  text-align: center;
  top: 48%;
}

.middle h1 {
  margin-top: 0;
  color: #fff;
  font-size: 60px;
}

.middle-support {
  background-color: #000;
  text-align: center;
  padding: 60px 0;
}

.middle-support h1 {
  color: orange;
  margin-top: 0;
  text-transform: uppercase;
}

.middle-support p {
  color: #fff;
  padding-bottom: 20px;
}

.btn-secondary {
  padding: 10px 30px;
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.btn-secondary:hover {
  background-color: orange;
}


.bot {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg")no-repeat center center;
  background-size: cover;
  height: 600px;
}

.bot h1 {
  color: #fff;
  margin-top: 0;
}

.bot .container {
  position: relative;
  text-align: center;
  top: 48%;
}




